.root {
    -fx-background-color: #3D3D3D;
    -fx-border-color: #262626;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.theme-button {
     -fx-background-color: transparent;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center center;
     -fx-background-size: cover;
     -fx-border-color: black;
     -fx-border-width: 1.5px;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.theme-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}

.theme-button:focused {
    -fx-border-color: green;
}

#themeWood { -fx-background-image: url("/gui/themes/imagesThemes/WoodTheme.png"); }
#themeDark { -fx-background-image: url("/gui/themes/imagesThemes/DarkTheme.png"); }
#themePink { -fx-background-image: url("/gui/themes/imagesThemes/PinkTheme.png"); }
#themeBlue { -fx-background-image: url("/gui/themes/imagesThemes/BlueTheme.png"); }


.apply-button {
    -fx-background-color: #4a4a4a;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.apply-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}
.close-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-min-width: 18px;
    -fx-min-height: 18px;
}

.close-button:hover {
    -fx-background-color: darkred;
}