.root {
    -fx-background-color: #3D3D3D;
}

.grid-pane {
    -fx-border-color: #000000;
    -fx-border-width: 10px;
}

#chessBoard {
    -fx-background-color: #4a4a4a;
    -fx-border-color: #222222;
    -fx-border-width: 2px;
}

.button-bar {
    -fx-background-color: #3D3D3D;
}

.button-bar .button {
    -fx-background-color: #3D3D3D;
    -fx-padding: 0px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button-bar .button:hover {
    -fx-background-color: #4a4a4a;
    -fx-cursor: hand;
}

.captured-pieces-area {
    -fx-background-color: #262626;
    -fx-spacing: 5px;
    -fx-alignment: CENTER;
    -fx-border-color: #000000;
    -fx-border-width: 1.5px;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0, 0);
}

.captured-pieces-scrollpane {
    -fx-background-color: transparent;
}

.captured-pieces-scrollpane .scroll-bar {
    -fx-background-color: transparent;
    -fx-padding : 0px;
}

.captured-pieces-scrollpane .scroll-bar .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 100;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

.captured-pieces-scrollpane .scroll-bar:horizontal .increment-button,
.captured-pieces-scrollpane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.captured-pieces-scrollpane .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.selected-cell {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.7, 0, 0);
}

#endGameView {
    -fx-background-color: #3D3D3D;
    -fx-background-radius: 10px;
    -fx-border-color: #262626;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

#endGameView .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#endGameView #titleLabel {
    -fx-font-size: 30px;
}

#endGameView .button {
    -fx-background-color: #4a4a4a;
    -fx-background-radius: 5px;
    -fx-border-color: #262626;
    -fx-border-width: 2px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#endGameView .button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}

.promoted-view{
    -fx-background-color: #3D3D3D;
    -fx-border-color: #262626;
    -fx-border-width: 3px;
    -fx-max-width: 210px;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 0);
}

.promoted-view *:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}

.promotion-pane-wr {
    -fx-background-radius: 10 0 10 10;
    -fx-border-radius: 10 0 10 10;
}

.promotion-pane-wl {
    -fx-background-radius: 0 10 10 10;
    -fx-border-radius: 0 10 10 10;
}

.promotion-pane-br {
    -fx-background-radius: 10 10 0 10;
    -fx-border-radius: 10 10 0 10;
}

.promotion-pane-bl {
    -fx-background-radius: 10 10 10 0;
    -fx-border-radius: 10 10 10 0;
}

.theme-pink .light-cell { -fx-fill: #F8DEE7; }
.theme-pink .dark-cell { -fx-fill: #F06292; }

.theme-blue .light-cell { -fx-fill: #D4E1C6; }
.theme-blue .dark-cell { -fx-fill: #8BB0BF; }

.theme-wood .light-cell { -fx-fill: #F0D9B5; }
.theme-wood .dark-cell { -fx-fill: #B58863; }

.theme-dark .light-cell { -fx-fill: #7A7A7A; }
.theme-dark .dark-cell { -fx-fill: #4A4A4A; }